<div class="card">
    <div class="card-header">
        <h2>MaxDepth: {{maxDepth}}</h2>
    </div>
    <div class="card-body">
        <div #chart></div>
    </div>
    <div class="card-footer">
        <div class="row text-center">
            <!--Green Line-->
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Testing Line</div>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--Red Line-->
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Training Line</div>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

